
<div ng-controller="paymentController">
<div class="clearfix"></div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3" >
    <input id="invoicerequirement" class="form-control col-md-3 col-xs-3" type="text" name="invoicerequirement" list="invoicereq" autocomplete="off" ng-model="invoicerequirement" placeholder="Invoice/Estimation">
    <datalist id ="invoicereq">
        <select>
            <option value = ""> Invoice/Estimation </option>
            <option value = "Invoice"> </option>
            <option value = "Estimation"> </option>
        </select>
    </datalist>
    </div>
    <br><br>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" >
        <div class="x_panel">
            <div class="x_title">
                <h2>Product Table <small></small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  data-ng-repeat="productData in productData">
                        <td>{{productData.productName}}</td>
                        <td>{{productData.unitAmount | currency}}</td>
                        <td align="center" style="text-decoration: underline;"><a  ng-click="sendToCart({param: productData})">Add</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-xs-12" >
        <div class="x_panel">
            <div class="x_title">
                <h2>                Cart<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit Amount</th>
                        <th>Qty</th>
                        <th>Total Amount</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cartItems in cartItems">
                        <td>{{cartItems.productName}}</td>
                        <td data-ng-model="cartItems.unitAmount">{{cartItems.unitAmount | currency}}</td>
                        <!--<td contenteditable='true' ng-model="qty" ng-change="updatetotal({param: cartItems.unitAmount,qty})">0</td>-->
                        <td><input type="text" data-ng-model="cartItems.qty"  value="0"></td>
                        <td data-ng-model="cartItems.myTotal">{{cartItems.qty * cartItems.unitAmount | currency}}</td>
                        <td align="center" style="text-decoration: underline;"><a ng-disabled={{isDisabled}} ng-click="sendTocheckout({param1: cartItems})">Cart</a></td>
                        <!--<td align="center" style="text-decoration: underline;"><a ng-href="" ng-click="total()">total</a></td>-->
                    </tr>


                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>
<div  >
        <form id="demo-form2" ng-submit="inserttopayment()"  data-parsley-validate class="form-horizontal form-label-left">



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" >Gross Total<span class="required"></span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" ng-model="grossTotal">{{total() | currency}}<span class="required"></span></label>
                <!--<input type="text" id="grossTotal" name="grossTotal" required="required" class="form-control col-md-7 col-xs-12" ng-model="grossTotal">-->
            </div>
        </div>

            <div class="form-group">
                <label for="customerRequirement" class="control-label col-md-3 col-sm-3 col-xs-12" ng-show="invoicerequirement !== 'Estimation'">Customer</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="customerRequirement" class="form-control col-md-7 col-xs-12" type="text" name="customerRequirement" list="customerReq" autocomplete="off" ng-model="customerRequirement" placeholder="Select a value for Customer" ng-show="invoicerequirement !== 'Estimation'">
                    <datalist id ="customerReq">
                        <select>
                            <option value = ""> Select Customer </option>
                            <option value = "General"> </option>
                            <option data-ng-model="customerData.CustomerName" ng-repeat="customerData in customerData">{{customerData.CustomerName}}</option>
                        </select>
                    </datalist>
                </div>
            </div>

            <div class="form-group">
                <label for="paymentRequirement" class="control-label col-md-3 col-sm-3 col-xs-12" ng-show="invoicerequirement !== 'Estimation'">Payment Type Requirement</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="paymentRequirement" class="form-control col-md-7 col-xs-12" type="text" name="paymentRequirement" list="paymentReq" autocomplete="off" ng-model="paymentRequirement" placeholder="Select a value for Payment type requirement" ng-show="invoicerequirement !== 'Estimation'">
                    <datalist id ="paymentReq">
                        <select>
                            <option value = ""> Select payment type requirement </option>
                            <option value = "Card"> </option>
                            <option value = "Credit"> </option>
                        </select>
                    </datalist>
                </div>
            </div>

        <div class="form-group" id="abcd">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" ng-show="invoicerequirement !== 'Estimation'">Card Number</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="cardNumber" id="cardNumber" name="type" class="form-control col-md-7 col-xs-12" ng-model="cardNumber" ng-disabled="paymentRequirement === 'Credit'" ng-show="invoicerequirement !== 'Estimation'">
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success" ng-click="pay(); insertsalesdataloop(); insertpaymentdata()" ng-disabled="invoicerequirement === 'Estimation'">PAY</button>
                <button class="btn btn-primary" type="button" ng-click="locationchange()">Print</button>
            </div>

        </div>

        <div class="form-group">
            <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                <strong>{{getpaymentsucessmsg}}</strong>
            </div>
            <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                <strong>{{getpaymentsucessmsg}}</strong>
            </div>
        </div>
        <div ng-show="error" class="text-danger">
            <strong ng-bind="error">{{getpaymentsucessmsg}}</strong>
        </div>

    </form>


</div>
</div>


