<div  ng-controller="salesDetailscontroller"  >
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h1>
                                <i class="fa fa-money"></i> Invoice.

                            </h1>
                        </div>
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <label  for="invoiceId" ng-model="paymentdata.invoiceId">Invoice Id    : INV {{paymentdata.invoiceId}}<span class="required"></span></label>
                            <br>
                            <br>
                            <label  for="customerId" ng-model="paymentdata.customerId">Customer  : {{paymentdata.customerId}}<span class="required"></span></label>
                            <br>
                            <br>
                            <label  for="createdAt" ng-model="paymentdata.createdAt">Payment Date  : {{paymentdata.createdAt | date:'dd/MM/yyyy hh:mm:ss a'}}<span class="required"></span></label>
                            <br>
                            <br>
                            <br>

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ProductName</th>
                                    <th>Unit Amount</th>
                                    <th>Qty #</th>
                                    <th >Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="saleDetailslist in saleDetailslist">
                                    <td>{{saleDetailslist.productName}}</td>
                                    <td>{{saleDetailslist.unitAmount | currency}}</td>
                                    <td>{{saleDetailslist.qty}}</td>
                                    <td>{{saleDetailslist.total | currency}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                            <h2 >Payment Method: <large ng-model="saleDetailsdataspecific.paymentType">{{paymentdata.type}}</large></h2>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <div class="table-responsive" ng-controller="salescontroller">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>

                                        <td ng-model="Subtotalval">{{paymentdata.grossTotal | currency}}</td></a>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-xs-12">
                            <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                            <button type="submit" ng-click="locationchange()" class="btn btn-success">Back</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</div>
</div>
