<div ng-controller="reportController" >
<div class="row">
    <h2>
       Sales Reports

    </h2>
</div>
<div class="row">
    <div class="col-xs-3 invoice-header">
        <h1>
            <i class="fa fa-signal"></i>

        </h1>
    </div>
    <div class="col-xs-3 invoice-header">
        <h1>
            <i class="fa fa-bar-chart"></i>

        </h1>
    </div>
    <div class="col-xs-3 invoice-header">
        <h1>
            <i class="fa fa-newspaper-o"></i>

        </h1>
    </div>
    <div class="col-xs-3 invoice-header">
        <h1>
            <i class="fa fa-tachometer"></i>

        </h1>
    </div>
</div>


<div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Customer wise Sales   <i class="fa fa-list-ol"></i></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 table">
                        <div class="row">

                                <label for="customerRequirement"  ng-show="invoicerequirement !== 'Estimation'">Customer</label>

                                    <input id="customerRequirement"  type="text" name="customerRequirement" list="customerReq" autocomplete="off" ng-model="customerRequirement" placeholder="Customer" >
                                    <datalist id ="customerReq">
                                        <select>
                                            <option value = ""> Select Customer </option>
                                            <option value = "General"> </option>
                                            <option data-ng-model="customerData.CustomerName" ng-repeat="customerData in customerData">{{customerData.CustomerName}}</option>
                                        </select>
                                    </datalist>


                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Invoice Id</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="paymentdataforreport in paymentdataforreport | filter:customerRequirement">
                                <td>{{paymentdataforreport.customerId}}</td>
                                <td>INV {{paymentdataforreport. invoiceId}}</td>
                                <td>{{paymentdataforreport.grossTotal | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Total sales    <i class="fa fa-money"></i></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <a ng-click=""></a>
            <h1>{{gettotalsales() | currency}}</h1>

        </div>
    </div>
</div>

    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Invoice Count   <i class="fa fa-tachometer"></i></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a ng-click=""></a>
                <h1>{{gettotalInvoiceCount()}}</h1>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Item wise Sales  <i class="fa fa-list-ol"></i></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 table">
                        <div class="row">

                            <label for="productRequirement"  >Product</label>

                            <input id="productRequirement"  type="text" name="productRequirement" list="productReq" autocomplete="off" ng-model="productRequirement" placeholder="Product" >
                            <datalist id ="productReq">
                                <select>
                                    <option value = ""> Select Product </option>
                                    <option data-ng-model="stockforReport.productName" ng-repeat="stockforReport in stockforReport">{{stockforReport.productName}}</option>
                                </select>
                            </datalist>


                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Invoice Id</th>
                                <th>Qty</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="saleDetailslistforreport in saleDetailslistforreport | filter:productRequirement">
                                <td>{{saleDetailslistforreport.productName}}</td>
                                <td>INV {{saleDetailslistforreport.invoiceId}}</td>
                                <td>{{saleDetailslistforreport.qty}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Customer Count   <i class="fa fa-tachometer"></i></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a ng-click=""></a>
                <h1>{{gettotalCustomerCount()}}</h1>

            </div>
        </div>
    </div>
    <!--<a ng-click="gettotalsalesbyproduct()">okkkkkk</a>-->

</div>
</div>