<div  ng-controller="salescontroller"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Sales Table</h2>
            <div class="clearfix"></div>
        </div>

        <label for="InvoiceRequirement" class="control-label col-md-3 col-sm-3 col-xs-12" ng-show="InvoiceRequirement !== 'Estimation'">SEARCH :</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="InvoiceRequirement" class="form-control col-md-7 col-xs-12" type="text" name="InvoiceRequirement" list="InvoiceReq" autocomplete="off" ng-model="InvoiceRequirement" placeholder="Select Invoice Id " ng-show="invoicerequirement !== 'Estimation'">
            <datalist id ="InvoiceReq">
                <select>
                    <option value = ""> Select Invoice Id </option>
                    <option data-ng-model="paymentdataforView.invoiceId" ng-repeat="paymentdataforView in paymentdataforView">{{paymentdataforView.invoiceId}}</option>
                </select>
            </datalist>
        </div>

        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Invoice ID</th>
                    <th>Payment Type</th>
                    <th>Card Number</th>
                    <th>Amount (Rs:)</th>
                    <th>Sales Date</th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="paymentdataforView in paymentdataforView | filter:InvoiceRequirement">

                    <td>{{paymentdataforView.customerId }}</td>
                    <td>INV {{paymentdataforView.invoiceId}}</td>
                    <td>{{paymentdataforView.type}}</td>
                    <td>{{paymentdataforView.cardNumber}}</td>
                    <td>{{paymentdataforView.grossTotal | currency}}</td>
                    <td>{{paymentdataforView.createdAt | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/salesDetails/{{paymentdataforView.invoiceId}}">VIEW</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
