<div class="x_panel">
    <div class="x_title">
        <h2>Sales Update</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="salescontroller">
        <br />
        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsalesucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsalesucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reciptNum">Recipt Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <input type="text" id="reciptNum" name="reciptNum" required="required" class="form-control col-md-7 col-xs-12"  ng-model="salesdataspecific.reciptNum">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoiceId">Invoice Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                <input type="text" id="invoiceId" name="invoiceId" required="required" class="form-control col-md-7 col-xs-12"  ng-model="salesdataspecific.invoiceId">
            </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="paymentType">Payment Type <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="paymentType" name="paymentType" required="required" class="form-control col-md-7 col-xs-12"  ng-model="salesdataspecific.paymentType">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="amount">Amount <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="amount" name="amount" required="required" class="form-control col-md-7 col-xs-12"  ng-model="salesdataspecific.amount">
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" ng-click="locationchange()">Cancel</button>
                    <button type="submit" ng-click="updatesales()" class="btn btn-success">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>
