<div class="x_panel">
    <div class="x_title">
        <h2>Stock-Count Log</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="stockCountController">
        <br />
        <form id="demo-form2" ng-submit="insertstockcountdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getstockcountsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getstockcountsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PackageID">Package ID <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="PackageID" name="PackageID" required="required" class="form-control col-md-7 col-xs-12" ng-model="PackageID">
                </div>
            </div>
            <div class="form-group">
                <label for="Brand" class="control-label col-md-3 col-sm-3 col-xs-12">Brand </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Brand" class="form-control col-md-7 col-xs-12" type="text" name="Brand" ng-model="Brand">
                </div>
            </div>
            <div class="form-group">
                <label for="DrugName" class="control-label col-md-3 col-sm-3 col-xs-12">Drug Name </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="DrugName" class="form-control col-md-7 col-xs-12" type="text" name="DrugName" ng-model="DrugName">
                </div>
            </div>
            <div class="form-group">
                <label for="QuantityOfProductsOrdered" class="control-label col-md-3 col-sm-3 col-xs-12">Ordered Quantity </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="QuantityOfProductsOrdered" class="form-control col-md-7 col-xs-12" type="text" name="QuantityOfProductsOrdered" ng-model="QuantityOfProductsOrdered">
                </div>
            </div>
            <div class="form-group">
                <label for="RemainingQuantity" class="control-label col-md-3 col-sm-3 col-xs-12">Remaining Quantity </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="RemainingQuantity" class="form-control col-md-7 col-xs-12" type="text" name="RemainingQuantity" ng-model="RemainingQuantity">
                </div>
            </div>
            <div class="form-group">
                <label for="LotNo" class="control-label col-md-3 col-sm-3 col-xs-12">Lot No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="LotNo" class="form-control col-md-7 col-xs-12" type="text" name="LotNo" ng-model="LotNo">
                </div>
            </div>
            <div class="form-group">
                <label for="ExpirationDate" class="control-label col-md-3 col-sm-3 col-xs-12">Expiration Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ExpirationDate" class="form-control col-md-7 col-xs-12" type="date" name="ExpirationDate" ng-model="ExpirationDate">
                </div>
            </div>
            <div class="form-group">
                <label for="StockCountDate" class="control-label col-md-3 col-sm-3 col-xs-12">Stock Count Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="StockCountDate" class="form-control col-md-7 col-xs-12" type="date" name="StockCountDate" ng-model="StockCountDate">
                </div>
            </div>
            <div class="form-group">
                <label for="StockCountMethod" class="control-label col-md-3 col-sm-3 col-xs-12">Stock Count Method </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="StockCountMethod" class="form-control col-md-7 col-xs-12" type="text" name="StockCountMethod" list="stockcount" autocomplete="off" ng-model="StockCountMethod" placeholder="Select a value for stock count method">
                    <datalist id ="stockcount">
                        <select>
                            <option value = ""> Select stock count method </option>
                            <option value = "Annual"> </option>
                            <option value = "Cycle"> </option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label for="NameOfManufacturerer" class="control-label col-md-3 col-sm-3 col-xs-12">Name Of Manufacturerer </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="NameOfManufacturerer" class="form-control col-md-7 col-xs-12" type="text" name="NameOfManufacturerer" ng-model="NameOfManufacturerer">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>