<div class="x_panel">
    <div class="x_title">
        <h2>Stock-Out Log</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="stockOutController">
        <br />
        <form id="demo-form2" ng-submit="insertstockoutdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getstockoutsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getstockoutsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getstockoutsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProductID">Product ID<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="ProductID" name="ProductID" required="required" class="form-control col-md-7 col-xs-12" ng-model="ProductID">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PackageID">Package ID <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="PackageID" name="PackageID" required="required" class="form-control col-md-7 col-xs-12" ng-model="PackageID">
                </div>
            </div>
            <div class="form-group">
                <label for="Brand" class="control-label col-md-3 col-sm-3 col-xs-12">Brand </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Brand" class="form-control col-md-7 col-xs-12" type="text" name="Brand" ng-model="Brand">
                </div>
            </div>
            <div class="form-group">
                <label for="DrugName" class="control-label col-md-3 col-sm-3 col-xs-12">Drug Name </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="DrugName" class="form-control col-md-7 col-xs-12" type="text" name="DrugName" ng-model="DrugName">
                </div>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label col-md-3 col-sm-3 col-xs-12">Quantity </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Quantity" class="form-control col-md-7 col-xs-12" type="text" name="Quantity" ng-model="Quantity">
                </div>
            </div>
            <div class="form-group">
                <label for="LotNo" class="control-label col-md-3 col-sm-3 col-xs-12">Lot No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="LotNo" class="form-control col-md-7 col-xs-12" type="text" name="LotNo" ng-model="LotNo">
                </div>
            </div>
            <div class="form-group">
                <label for="NameOfManufacturerer" class="control-label col-md-3 col-sm-3 col-xs-12">Name Of Manufacturerer </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="NameOfManufacturerer" class="form-control col-md-7 col-xs-12" type="text" name="NameOfManufacturerer" ng-model="NameOfManufacturerer">
                </div>
            </div>
            <div class="form-group">
                <label for="StockOutDate" class="control-label col-md-3 col-sm-3 col-xs-12">Stock Out Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="StockOutDate" class="form-control col-md-7 col-xs-12" type="date" name="StockOutDate" ng-model="StockOutDate">
                </div>
            </div>
            <div class="form-group">
                <label for="Reason" class="control-label col-md-3 col-sm-3 col-xs-12">Reason</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Reason" class="form-control col-md-7 col-xs-12" type="text" name="Reason" ng-model="Reason">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>