<div  ng-controller="stockOutController"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Stock-Out Log Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="stockoutlog" class="table table-bordered">
                <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Package ID </th>
                    <th>Brand</th>
                    <th>Drug Name</th>
                    <th>Quantity </th>
                    <th>Lot No</th>
                    <th>Name Of Manufacturerer</th>
                    <th>Stock Out Date</th>
                    <th>Reason</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockodata in stockoutdata">

                    <td>{{stockodata.ProductID}}</td>
                    <td>{{stockodata.PackageID}}</td>
                    <td>{{stockodata.Brand}}</td>
                    <td>{{stockodata.DrugName}}</td>
                    <td>{{stockodata.Quantity}}</td>
                    <td>{{stockodata.LotNo}}</td>
                    <td>{{stockodata.NameOfManufacturerer}}</td>
                    <td>{{stockodata.StockOutDate}}</td>
                    <td>{{stockodata.Reason}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/stockin/{{stockodata.ProductID}}">EDIT</a></td>
                    <td align="center" style="text-decoration: underline;" ng-click="deleteout(stockodata.ProductID)">DELETE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>