<div  ng-controller="stockInController"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Stock-In Log Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="stockinlog" class="table table-bordered">
                <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Package ID </th>
                    <th>Brand</th>
                    <th>Drug Name</th>
                    <th>Dosage Form</th>
                    <th>Quantity </th>
                    <th>National Drug Code</th>
                    <th>Lot No</th>
                    <th>Expiration Date</th>
                    <th>Name Of Manufacturerer</th>
                    <th>Storage Requirement</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockidata in stockindata">

                    <td>{{stockidata.ProductID}}</td>
                    <td>{{stockidata.PackageID}}</td>
                    <td>{{stockidata.Brand}}</td>
                    <td>{{stockidata.DrugName}}</td>
                    <td>{{stockidata.DosageForm}}</td>
                    <td>{{stockidata.Quantity}}</td>
                    <td>{{stockidata.NationalDrugCode}}</td>
                    <td>{{stockidata.LotNo}}</td>
                    <td>{{stockidata.ExpirationDate}}</td>
                    <td>{{stockidata.NameOfManufacturerer}}</td>
                    <td>{{stockidata.StorageRequirement}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/stockin/{{stockidata.ProductID}}">EDIT</a></td>
                    <td align="center" style="text-decoration: underline;" ng-click="deletedata(stockidata.ProductID)">DELETE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>