<div class="x_panel">
    <div class="x_title">
        <h2>Stock-In Log</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="stockInController">
        <br />
        <form id="demo-form2" ng-submit="insertstockindata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getstockinsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getstockinsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProductID">Product ID<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="ProductID" name="ProductID" required="required" class="form-control col-md-7 col-xs-12" ng-model="ProductID">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PackageID">Package ID <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="PackageID" name="PackageID" required="required" class="form-control col-md-7 col-xs-12" ng-model="PackageID">
                </div>
            </div>
            <div class="form-group">
                <label for="Brand" class="control-label col-md-3 col-sm-3 col-xs-12">Brand </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Brand" class="form-control col-md-7 col-xs-12" type="text" name="Brand" ng-model="Brand">
                </div>
            </div>
            <div class="form-group">
                <label for="DrugName" class="control-label col-md-3 col-sm-3 col-xs-12">Drug Name </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="DrugName" class="form-control col-md-7 col-xs-12" type="text" name="DrugName" ng-model="DrugName">
                </div>
            </div>
            <div class="form-group">
                <label for="DosageForm" class="control-label col-md-3 col-sm-3 col-xs-12">Dosage Form </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="DosageForm" class="form-control col-md-7 col-xs-12" type="text" name="DosageForm" ng-model="DosageForm">
                </div>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label col-md-3 col-sm-3 col-xs-12">Quantity </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Quantity" class="form-control col-md-7 col-xs-12" type="text" name="Quantity" ng-model="Quantity">
                </div>
            </div>
            <div class="form-group">
                <label for="NationalDrugCode" class="control-label col-md-3 col-sm-3 col-xs-12">National Drug Code </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="NationalDrugCode" class="form-control col-md-7 col-xs-12" type="text" name="NationalDrugCode" ng-model="NationalDrugCode">
                </div>
            </div>
            <div class="form-group">
                <label for="LotNo" class="control-label col-md-3 col-sm-3 col-xs-12">Lot No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="LotNo" class="form-control col-md-7 col-xs-12" type="text" name="LotNo" ng-model="LotNo">
                </div>
            </div>
            <div class="form-group">
                <label for="ExpirationDate" class="control-label col-md-3 col-sm-3 col-xs-12">Expiration Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ExpirationDate" class="form-control col-md-7 col-xs-12" type="date" name="ExpirationDate" ng-model="ExpirationDate">
                </div>
            </div>
            <div class="form-group">
                <label for="NameOfManufacturerer" class="control-label col-md-3 col-sm-3 col-xs-12">Name Of Manufacturerer </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="NameOfManufacturerer" class="form-control col-md-7 col-xs-12" type="text" name="NameOfManufacturerer" ng-model="NameOfManufacturerer">
                </div>
            </div>
            <div class="form-group">
                <label for="StorageRequirement" class="control-label col-md-3 col-sm-3 col-xs-12">Storage Requirement</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="StorageRequirement" class="form-control col-md-7 col-xs-12" type="text" name="StorageRequirement" list="storagereq" autocomplete="off" ng-model="StorageRequirement" placeholder="Select a value for storage requirement">
                    <datalist id ="storagereq">
                        <select>
                        <option value = ""> Select storage requirement </option>
                        <option value = "Freezing"> </option>
                        <option value = "refregiration"> </option>
                        <option value = "hazardous substances"> </option>
                        <option value = "room temperature"> </option>
                        <option value = "UV protected"> </option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>