<div class="row top_tiles">
  <div class="animated flipInY col-lg-13 col-md-13 col-sm-16 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-heartbeat"></i></div>
      <div class="count" style="text-align: center;">Welcome to Fortran Pharmacy</div>
    </div>
  </div>
</div>
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper" ng-controller="logincontroller">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Login Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="username" ng-model="login.username" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="password" ng-model="login.password" required="" />
          </div>
          <div>
            <button ng-click="validatelogin(login.username,login.password)">Log in</button>
          </div>

          <div class="clearfix"></div>
        </form>
      </section>
    </div>
  </div>
</div>