<div  ng-controller="stockorder"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Stock Order</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="suppliersv" class="table table-bordered">
                <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Medicine Category</th>
                    <th>Quantity</th>
                    <th>status</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stockdata in stockorderdetails">

                    <td>{{stockdata.name}}</td>
                    <td>{{stockdata.category}}</td>
                    <td>{{stockdata.quantity}}</td>
                    <td>{{stockdata.status}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/stockorder/{{stockdata.name}}">EDIT</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>