<div class="row"  ng-controller="supitemaddcontroller">
    <div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Order Add</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" >
                <br />
                <form id="demo-form2" ng-submit="insertorderdata()"  data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                            <strong>{{getsupsucessmsg}}</strong>
                        </div>
                        <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                            <strong>{{getsupsucessmsg}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-md-4 col-sm-4 col-xs-12">Order Number </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="ordernumber" class="form-control col-md-7 col-xs-12" type="text" name="ordernumber" ng-model="ordernumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="selectedName">Supplier Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="selectedName" name="selectedName" class="form-control col-md-7 col-xs-12" required ng-model="selectedName">
                                <option ng-repeat="(key, value) in supplyitemdata2" value="{{value.companyname}}">{{value.companyname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-md-4 col-sm-4 col-xs-12">Description </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="description" class="form-control col-md-7 col-xs-12" type="text" name="description" ng-model="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createddate" class="control-label col-md-4 col-sm-4 col-xs-12">Created Date </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="createddate" class="form-control col-md-7 col-xs-12" type="text" name="createddate" ng-model="createddate">
                        </div>
                    </div>
                    <div>Please submit to proceed to add items to order</div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button" ng-click="locationchangehome()">Cancel</button>
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>