<div class="row"  ng-controller="supitemaddcontroller">
    <div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Order Items Add</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form3"  data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="alert alert-danger alert-dismissable" ng-show="myfalse2">
                            <strong>{{getsupsucessmsg2}}</strong>
                        </div>
                        <div class="alert alert-success alert-dismissable" ng-show="mytrue2">
                            <strong>{{getsupsucessmsg2}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="ordernumber">Order Number<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" disabled id="ordernumber" name="ordernumber" required="required" class="form-control col-md-7 col-xs-12" ng-model="item.ordernumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderdetailnumber" class="control-label col-md-4 col-sm-4 col-xs-12">Order details Number </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="orderdetailnumber" class="form-control col-md-7 col-xs-12" type="text" name="orderdetailnumber" ng-model="item.orderdetailnumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="itemname">Item Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="itemname" name="itemname" required="required" class="form-control col-md-7 col-xs-12" ng-model="item.itemname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemquantity" class="control-label col-md-4 col-sm-4 col-xs-12"> Quantity </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="itemquantity" class="form-control col-md-7 col-xs-12" type="text" name="itemquantity" ng-model="item.itemquantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expiredate" class="control-label col-md-4 col-sm-4 col-xs-12"> Expire - date </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="expiredate" class="form-control col-md-7 col-xs-12" type="text" name="expiredate" ng-model="item.expiredate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="brand" class="control-label col-md-4 col-sm-4 col-xs-12"> Brand </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="brand" class="form-control col-md-7 col-xs-12" type="text" name="brand" ng-model="item.brand">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemprice" class="control-label col-md-4 col-sm-4 col-xs-12"> Price </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="itemprice" class="form-control col-md-7 col-xs-12" type="text" name="itemprice" ng-model="item.itemprice">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button" ng-click="locationchangehome()">Cancel</button>
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success" ng-click="insertitemdata(item)">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Order Items Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="suppliersv" class="table table-bordered">
                <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Detail Number</th>
                    <th>Brand</th>
                    <th>Item Name</th>
                    <th>Expire Date</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="supdata in supplyitemdata">

                    <td>{{supdata.ordernumberitem}}</td>
                    <td>{{supdata.orderdetailnumber}}</td>
                    <td>{{supdata.brand}}</td>
                    <td>{{supdata.itemname}}</td>
                    <td>{{supdata.expiredate}}</td>
                    <td>{{supdata.itemquantity}}</td>
                    <td>{{supdata.itemprice}}</td>
                    <td align="center" style="text-decoration: underline;" ng-click="deleteitemdata(supdata._id)">DELETE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>