<div  ng-controller="supaddcontroller"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Suppliers Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="suppliersv" class="table table-bordered">
                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Agent Name</th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>createddate</th>
                    <th>period</th>
                    <th>Contact No</th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="supdata in supplierdata">

                    <td>{{supdata.companyname}}</td>
                    <td>{{supdata.agentname}}</td>
                    <td>{{supdata.category}}</td>
                    <td>{{supdata.address}}</td>
                    <td>{{supdata.createddate}}</td>
                    <td>{{supdata.period}}</td>
                    <td>{{supdata.contactno}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/suppliersview/{{supdata.companyname}}">EDIT</a></td>
                    <td align="center" style="text-decoration: underline;" ng-click="deletedata(supdata._id)">DELETE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>