<div ng-controller="supplierinvoice">
<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        Order ID
        <address>
            <select id="selectedName" name="selectedName" class="form-control col-md-7 col-xs-12" required ng-model="invoice.id" ng-change="getspecificitems(invoice.id)">
                <option  ng-repeat="(key, value) in supplierinvoice" value="{{value.ordernumber}}">{{value.ordernumber}}</option>
            </select>
        </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">

    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
        <b>Invoice </b>
        <br>
        <br>
        <b>Order ID:</b> {{invoice.id}}
        <br>
        <b>Invoice Date:</b> {{date | date:'yyyy-MM-dd'}}
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- Table row -->
<div class="row">
    <div class="col-xs-12 table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Sub Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in supplieditems">
                <td>{{item.orderdetailnumber}}</td>
                <td>{{item.itemname}}</td>
                <td>{{item.itemquantity}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.itemprice}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">


    </div>
    <!-- /.col -->
    <div class="col-xs-6">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>Total:</th>
                    <td>Rs. {{total}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- this row will not appear when printing -->
<div class="row no-print">
    <div class="col-xs-12">
        <button class="btn btn-success pull-right" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
       </div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
