<div class="x_panel">
    <div class="x_title">
        <h2>Supplier Add</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="supaddcontroller">
        <br />
        <form id="demo-form2" ng-submit="insertsupdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="companyname">Company Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="companyname" name="companyname" required="required" class="form-control col-md-7 col-xs-12" ng-model="companyname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="agentname">Agent Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="agentname" name="agentname" required="required" class="form-control col-md-7 col-xs-12" ng-model="agentname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Supply Category <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="category" name="category" required="required" class="form-control col-md-7 col-xs-12" ng-model="category">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address" ng-model="address">
                </div>
            </div>
            <div class="form-group">
                <label for="createddate" class="control-label col-md-3 col-sm-3 col-xs-12">Created Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="createddate" class="form-control col-md-7 col-xs-12" type="text" name="createddate" ng-model="createddate">
                </div>
            </div>
            <div class="form-group">
                <label for="period" class="control-label col-md-3 col-sm-3 col-xs-12">Period </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="period" class="form-control col-md-7 col-xs-12" type="text" name="period" ng-model="period">
                </div>
            </div>
            <div class="form-group">
                <label for="contactno" class="control-label col-md-3 col-sm-3 col-xs-12">Contact No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="contactno" class="form-control col-md-7 col-xs-12" type="text" name="contactno" ng-model="contactno">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" ng-click="locationchangehome()" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>