<div class="x_panel">
    <div class="x_title">
        <h2>Send Mail</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="suppliermailcontroller">
        <br />
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplieremail">Supplier email <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="supplieremail" name="supplieremail" required="required" class="form-control col-md-7 col-xs-12" ng-model="email.supplieremail">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailtext">Text<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="emailtext" name="emailtext" required="required" class="form-control col-md-7 col-xs-12" ng-model="email.emailtext"></textarea>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" ng-click="sendmail(email)">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>