<div  ng-controller="empcontroller" ng-init="getall()"><!-- <div  ng-controller="empcontroller" > -->
    <div class="x_panel">
        <div class="x_title">
            <h2>Customer Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Patient Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Diagnosis</th>
                    <th>Contact No</th>
                    <th>Patient Type</th>



                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="valdata in userdata">
                    <td>{{valdata.cus_ID}}</td>
                    <td>{{valdata.firstname}}</td>
                    <td>{{valdata.lastname}}</td>
                    <td>{{valdata.address}}</td>
                    <td>{{valdata.date}}</td>
                    <td>{{valdata.time}}</td>
                    <td>{{valdata.diagnosis}}</td>
                    <td>{{valdata.contactno}}</td>
                    <td>{{valdata.patient_type}}</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>