<div class="x_panel">
    <div class="x_title">
        <h2>Supplier Update</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="supaddcontroller">
        <br />
        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="companyname">Company Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <input type="text" id="companyname" name="companyname" required="required" class="form-control col-md-7 col-xs-12" disabled ng-model="supplierdataspecific.companyname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="agentname">Agent Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="agentname" name="agentname" required="required" class="form-control col-md-7 col-xs-12"  ng-model="supplierdataspecific.agentname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Supply Category <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="category" name="category" required="required" class="form-control col-md-7 col-xs-12"  ng-model="supplierdataspecific.category">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address"   ng-model="supplierdataspecific.address" ng-value="fh">
                </div>
            </div>
            <div class="form-group">
                <label for="createddate" class="control-label col-md-3 col-sm-3 col-xs-12">Created Date </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="createddate" class="form-control col-md-7 col-xs-12" type="text" name="createddate"  ng-model="supplierdataspecific.createddate">
                </div>
            </div>
            <div class="form-group">
                <label for="period" class="control-label col-md-3 col-sm-3 col-xs-12">Period </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="period" class="form-control col-md-7 col-xs-12" type="text" name="period"  ng-model="supplierdataspecific.period" >
                </div>
            </div>
            <div class="form-group">
                <label for="contactno" class="control-label col-md-3 col-sm-3 col-xs-12">Contact No </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="contactno" class="form-control col-md-7 col-xs-12" type="text" name="contactno" ng-model="supplierdataspecific.contactno" >
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" ng-click="locationchange()" >Cancel</button>
                    <button type="submit" ng-click="updatedata(supplierdataspecific._id)" class="btn btn-success">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>