<div class="x_panel">
    <div class="x_title">
        <h2>Patient Details</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="empcontroller">
        <br />
        <form id="demo-form2" ng-submit="insertdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cus_ID">Customer Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="cus_ID" name="cus_ID" required="required" class="form-control col-md-7 col-xs-12" ng-model="cus_ID">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">First Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="firstname" name="firstname" required="required" class="form-control col-md-7 col-xs-12" ng-model="firstname">
                </div>
            </div>

            <div class="form-group">
                <label for="lastname" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="lastname" class="form-control col-md-7 col-xs-12" type="text" name="lastname" ng-model="lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address" ng-model="address">
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="control-label col-md-3 col-sm-3 col-xs-12">Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="date" class="form-control col-md-7 col-xs-12" type="Date" name="date" ng-model="date">
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="control-label col-md-3 col-sm-3 col-xs-12">Time</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="time" class="form-control col-md-7 col-xs-12" type="Time" name="time" ng-model="time">
                </div>
            </div>
            <div class="form-group">
                <label for="contactno" class="control-label col-md-3 col-sm-3 col-xs-12">Contact No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="contactno" class="form-control col-md-7 col-xs-12" type="text" name="contactno" ng-model="contactno">
                </div>
            </div>
            <div class="form-group">
                <label for="diagnosis" class="control-label col-md-3 col-sm-3 col-xs-12">Diagnosis</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="diagnosis" name="diagnosis" class="form-control col-md-7 col-xs-12" ng-model="diagnosis">
                        <option ng-repeat="(key, value) in diagnosis_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="patient_type" class="control-label col-md-3 col-sm-3 col-xs-12">Patient Type</label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <select id="patient_type" name="patient_type" class="form-control col-md-7 col-xs-12" ng-model="patient_type">
                        <option ng-repeat="(key, value) in patient_type_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            <div >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Customer Table</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Patient Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Address</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Diagnosis</th>
                                <th>Contact No</th>
                                <th>Patient Type</th>



                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="valdata in userdata">
                                <td>{{valdata.cus_ID}}</td>
                                <td>{{valdata.firstname}}</td>
                                <td>{{valdata.lastname}}</td>
                                <td>{{valdata.address}}</td>
                                <td>{{valdata.date}}</td>
                                <td>{{valdata.time}}</td>
                                <td>{{valdata.diagnosis}}</td>
                                <td>{{valdata.contactno}}</td>
                                <td>{{valdata.patient_type}}</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>