<div  ng-controller="qualitycontroller" >
    <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="selectedName">SELECT PURCHASE ORDER ID <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="selectedName" name="selectedName" class="form-control col-md-7 col-xs-12" required ng-model="poitems.id" ng-change="getItemsFrom_specific_po_ID(poitems.id)" >
                <option  ng-repeat="(key, value) in all_po" value="{{value.ordernumber}}">{{value.ordernumber}}</option>
            </select>
        </div>
    </div>
    <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        From
        <br>
            <label>F&F<br>
            colombo 5</label>

    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">

    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">


        <br>
        <b> Purchase Order ID:</b> <label>{{poitems.id}}</label>
        <br>
        <b> Received Order ID: GRN</b><label>{{poitems.id}}</label>
        <br>
        <b></b><label></label>
    </div>
    <!-- /.col -->
</div>

<!-- Table ng-init="getItemsFrom_specific_po_ID(value.ordernumber)">
        <div class="x_panel">row -->

<div class="row" ng-init="getItemsFrom_specific_po_ID(value.ordernumber)">
    <div class="col-xs-12 table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item Code</th>
                <th>Purchase Order Quantity</th>
                <th>Received Quantity</th>



            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="valdata in po_ITEMS" >
                <td>{{valdata.orderdetailnumber}}</td>
                <td>{{valdata.itemquantity}}</td>
                <td ng-init="grnqty(poitems.id,valdata.orderdetailnumber)">{{grnitems.itemquantity}}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">

    <!-- /.col -->
    <div class="col-xs-6">
        <p class="lead"></p>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- this row will not appear when printing -->
<div class="row no-print">
    <div class="col-xs-12">
        <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
        <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
    </div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
