<!-- display combo box from po table by filtering grnstatus!= received -->

<div  ng-controller="qualitycontroller" >
        <div class="form-group">
        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="selectedName">SELECT PURCHASE ORDER ID <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="selectedName" name="selectedName" class="form-control col-md-7 col-xs-12" required ng-model="poitems.id" ng-change="getItemsFrom_specific_po_ID(poitems.id)" ng-change="updatepurchaseorder1(poitems.id)">
                <option  ng-repeat="(key, value) in po_grnnotRec" value="{{value.ordernumber}}">{{value.ordernumber}}</option>
            </select>
        </div>
    </div>

    
    <div ng-init="getItemsFrom_specific_po_ID(value.ordernumber)">
        <div class="x_panel">
            <div class="x_title">
                <!-- print lable po ID-->
                <h2>ITEM CODES FOR PURCHASE ORDER ID :<label>{{poitems.id}}</label></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ITEM CODE</th>
                        <th>ITEM NAME</th>
                        <th>status</th>



                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="valdata in po_ITEMS">
                        <td>{{valdata.orderdetailnumber}}</td>
                        <th>{{valdata.itemname}}</th>
                        <td>{{valdata.quality}}</td>
                        <td align="center" style="text-decoration: underline;"><a ng-href="#!/po_ITEM_Checking/{{valdata.orderdetailnumber}}/{{poitems.id}}" >ITEM QUALITY CHECKING</a></td>
                        <!--inside this method call , redirect to itemcode checking page-->
                    </tr>
                    </tbody>
                </table>

            </div>
            <button type="submit" ng-click="updatepurchaseorder(poitems.id)" class="btn btn-success">Update Purchase Order</button>
        </div>
    </div>



</div>
