<div  ng-controller="qualitycontroller"><!-- <div  ng-controller="empcontroller" > -->
    <div class="x_panel">
        <div class="x_title">
            <h2>Rejected Items</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ordernumberitem</th>
                    <th>orderdetailnumber</th>
                    <th>itemname</th>
                    <th>itemquantity</th>
                    <th>itemprice</th>
                    <th>expiredate</th>
                    <th>brand</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reject in rejecteditems">
                    <td>{{reject.ordernumberitem}}</td>
                    <td>{{reject.orderdetailnumber}}</td>
                    <td>{{reject.itemname}}</td>
                    <td>{{reject.itemquantity}}</td>
                    <td>{{reject.itemprice}}</td>
                    <td>{{reject.expiredate}}</td>
                    <td>{{reject.brand}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
