
<table>
    <tr>
        <th>
    <div class="x_panel">
    <div class="x_title">
        <h2>GRN_STATUS </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="qualitycontroller">

        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left" aligned="left">
            <!--<div class="form-group">-->
                <!--<div class="alert alert-danger alert-dismissable" ng-show="myfalse">-->
                    <!--<strong>{{getsupsucessmsg}}</strong>-->
                <!--</div>-->
                <!--<div class="alert alert-success alert-dismissable" ng-show="mytrue">-->
                    <!--<strong>{{getsupsucessmsg}}</strong>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div ng-show="error" class="text-danger">-->
                <!--<strong ng-bind="error">{{getsucessmsg}}</strong>-->
            <!--</div>-->

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemname">ITEM NAME <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text"  disabled id="itemname" name="itemname" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS1.itemname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemquantity">ITEM QUANTITY<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text"  disabled id="itemquantity" name="itemquantity" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS1.itemquantity">
                </div>
            </div>

            <div class="form-group">
                <label for="brand" class="control-label col-md-3 col-sm-3 col-xs-12">ITEM BRAND </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="brand"  disabled class="form-control col-md-7 col-xs-12" type="text" name="brand" ng-model="po_ITEMS1.brand">
                </div>
            </div>

            <div class="form-group">
                <label for="expDate" class="control-label col-md-3 col-sm-3 col-xs-12">EXPIRATION DURATION</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="expDate"  disabled class="form-control col-md-7 col-xs-12" type="text" name="expDate" ng-model="po_ITEMS1.expiredate">
                </div>
            </div>
        </form>
    </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemname">ITEM NAME <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text"  disabled id="itemname" name="itemname" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS1.itemname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemquantity">ITEM QUANTITY<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text"  disabled id="itemquantity" name="itemquantity" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS1.itemquantity">
                </div>
            </div>

            <div class="form-group">
                <label for="brand" class="control-label col-md-3 col-sm-3 col-xs-12">ITEM BRAND </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="brand"  disabled class="form-control col-md-7 col-xs-12" type="text" name="brand" ng-model="po_ITEMS1.brand">
                </div>
            </div>

            <div class="form-group">
                <label for="expDate" class="control-label col-md-3 col-sm-3 col-xs-12">EXPIRATION DURATION</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="expDate"  disabled class="form-control col-md-7 col-xs-12" type="text" name="expDate" ng-model="po_ITEMS1.expiredate">
                </div>
            </div>
        </form>
    </div>
    </div>
        </th>
        <th>
            <div class="ln_solid"></div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemnamecheck">ITEM NAME <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" disabled id="itemnamecheck" name="itemnamecheck" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS.itemname">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemquantitycheck">ITEM QUANTITY<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" disabled id="itemquantitycheck" name="itemquantitycheck" required="required" class="form-control col-md-7 col-xs-12" ng-model="po_ITEMS.itemquantity">
                </div>
            </div>
            <div class="form-group">
                <label for="brandcheck" class="control-label col-md-3 col-sm-3 col-xs-12">ITEM BRAND </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="brandcheck" disabled class="form-control col-md-7 col-xs-12" type="text" name="brandcheck" ng-model="po_ITEMS.brand">
                </div>
            </div>

            <div class="form-group">
                <label for="expDatecheck" class="control-label col-md-3 col-sm-3 col-xs-12">EXPIRATION DURATION</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="expDatecheck" disabled class="form-control col-md-7 col-xs-12" type="text" name="expDatecheck" ng-model="po_ITEMS.expiredate">
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <!--<button class="btn btn-primary" type="button" >Cancel</button>-->
                    <!--<button class="btn btn-primary" type="reset">Reset</button>-->
                    <!--<button type="submit" ng-click="qualityChecking(po_ITEMS1,po_ITEMS)" class="btn btn-success">Check Item Quality</button>-->
                </div>
            </div>



        </form>



    </div>
</div>
        </th>
    </tr>
</table>