<div class="x_panel">
    <div class="x_title">
        <h2>Order Add</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="orderaddcontroller">
        <br />
        <form id="demo-form2" ng-submit="insertorderdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getordersucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getordersucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderId">Order Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <input type="text" id="orderId" name="orderId" required="required" class="form-control col-md-7 col-xs-12"  ng-model="orderId">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderDes">order Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <select id="selectedName_orderDes" name="orderDes" class="form-control col-md-7 col-xs-12" ng-model="orderDes">
                        <option ng-repeat="(key, value) in orderDes_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Quantity <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="quantity" name="quantity" required="required" class="form-control col-md-7 col-xs-12"  ng-model="quantity">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplierId">Supplier Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_supID" name="orderDes" class="form-control col-md-7 col-xs-12" ng-model="supplierId">
                        <option ng-repeat="(key, value) in supplierId_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="GRN_status">GRN status <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_grn" name="GRN_status" class="form-control col-md-7 col-xs-12" ng-model="GRN_status">
                        <option ng-repeat="(key, value) in grn_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quality_status">Quality Status<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_quality" name="quality_status" class="form-control col-md-7 col-xs-12"ng-model="quality_status">
                        <option ng-repeat="(key, value) in quality_names" value="{{value}}">{{value}}</option>
                    </select>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit </button>
                </div>
            </div>
                <div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Orders Table</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Description</th>
                                    <th>Quantity</th>
                                    <th>supplier ID</th>
                                    <th>GRN_status</th>
                                    <th>quality_status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="o_data in orderdata">

                                    <td>{{o_data.orderId}}</td>
                                    <td>{{o_data.orderDes}}</td>
                                    <td>{{o_data.quantity}}</td>
                                    <td>{{o_data.supplierId}}</td>
                                    <td>{{o_data.GRN_status}}</td>
                                    <td>{{o_data.quality_status}}</td>
                                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/ordersview/{{o_data.orderId}}" ng-click="getorder(o_data.orderId)">EDIT</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>