<div  ng-controller="orderaddcontroller" ng-init="getall()">
    <div class="x_panel">
        <div class="x_title">
            <h2>Orders Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Description</th>
                    <th>Quantity</th>
                    <th>supplier ID</th>
                    <th>GRN_status</th>
                    <th>quality_status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="o_data in orderdata">

                    <td>{{o_data.orderId}}</td>
                    <td>{{o_data.orderDes}}</td>
                    <td>{{o_data.quantity}}</td>
                    <td>{{o_data.supplierId}}</td>
                    <td>{{o_data.GRN_status}}</td>
                    <td>{{o_data.quality_status}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/ordersview/{{o_data.orderId}}" ng-click="getorder(o_data.orderId)">EDIT</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
