<div class="x_panel">
    <div class="x_title">
        <h2>Order Update</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="orderaddcontroller">
        <br />
        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getordersucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getordersucessmsg}}</strong>
                </div>
            </div>
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getordersucessmsg_1}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getordersucessmsg_1}}</strong>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderId">Order Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <input type="text" id="orderId" name="orderId" required="required" class="form-control col-md-7 col-xs-12" disabled  ng-model="orderdataspecific.orderId">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderDes">order Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <select id="selectedName_orderDes" name="orderDes" class="form-control col-md-7 col-xs-12" ng-model="orderdataspecific.orderDes">
                        <option ng-repeat="(key, value) in orderDes_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Quantity <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="quantity" name="quantity" required="required" class="form-control col-md-7 col-xs-12"  ng-model="orderdataspecific.quantity">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplierId">Supplier Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_supID" name="orderDes" class="form-control col-md-7 col-xs-12" ng-model="orderdataspecific.supplierId">
                        <option ng-repeat="(key, value) in supplierId_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="GRN_status">GRN status <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_grn" name="GRN_status" class="form-control col-md-7 col-xs-12" ng-model="orderdataspecific.GRN_status">
                        <option ng-repeat="(key, value) in grn_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quality_status">Quality Status<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="selectedName_quality" name="quality_status" class="form-control col-md-7 col-xs-12" ng-model="orderdataspecific.quality_status">
                        <option ng-repeat="(key, value) in quality_names" value="{{value}}">{{value}}</option>
                    </select>
                </div>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                    <button type="submit" ng-click="updatedata()" class="btn btn-success">Update</button>
                    <button type="button" ng-click="deletedata()" class="btn btn-success">Delete</button>

                </div>
            </div>

        </form>
    </div>
</div>