<div class="x_panel">
    <div class="x_title">
        <h2>Doctor Details</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="cuscontroller">
        <br />
        <form id="demo-form2" ng-submit="insertdata()"  data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getsupsucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cus_ID">Doctor Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="cus_ID" name="cus_ID" required="required" class="form-control col-md-7 col-xs-12" ng-model="CustomerName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstname">Doctor Telephone Number<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="firstname" name="firstname" required="required" class="form-control col-md-7 col-xs-12" ng-model="CustomerTelephone">
                </div>
            </div>


            <div class="form-group">
                <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Doctor Specilization</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" class="form-control col-md-7 col-xs-12" type="text" name="address" ng-model="CustomerSpecilization">
                </div>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>